.wraper {
  background-color: #f9f6f5;
}
.bgconteiner {
  max-width: 1200px;
  margin: 0 auto;
}
.navi {
  padding-top: 40px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
}
.wrap-first-block {
  display: flex;
  flex-direction: row;
}
.tittle-first-block {
  display: flex;
  flex-direction: column;
}
.first-text {
  width: 621px;
  font-size: 56px;
  margin-top: 100px;
}
.second-text {
  width: 516px;
  margin-top: 40px;
  font-size: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item-six {
  text-decoration: underline;
  font-style: oblique;
  font-size: 25px;
}
.item-first {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-item {
  margin-right: 50px;
}
.item-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.butt {
  width: 326px;
  height: 48px;
  margin-top: 65px;
  background-image: url("./img/search.png");
  background-repeat: no-repeat;
  background-position: right;
}
.button {
  width: 148px;
  height: 56px;
  margin-top: 75px;
  background-color: #402f2c;
  color: white;
}
.wrap {
  max-width: 1400px;
  margin: 0 auto;
}
.sec-block {
  padding-top: 70px;
  padding-left: 90px;
  padding-right: 100px;
}
.navig {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navi-item {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.navi-item-b {
  margin-top: -20px;
}
.conteiner-three {
  max-width: 1240px;
  margin: 0 auto;
}
.wrap-three {
  padding-top: 100px;
}
.text-three {
  font-size: 56px;
}
.parag {
  margin-top: 30px;
  font-size: 20px;
}
.list-one {
  width: 513px;
  height: 70px;
  font-size: 56px;
}
.flex-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list {
  margin-top: 50px;
  width: 714px;
  height: 75px;
  font-size: 20px;
}
.list-a {
  width: 280px;
  height: 30px;
  font-size: 30px;
  border-bottom: 1px solid black;
  margin-left: 180px;
}
.image {
  width: 603px;
  height: 812px;
  margin-top: 100px;
  border: 1px solid #685a52;
}
.image-one {
  width: 600px;
  height: 484px;
  background-image: url("./img/pump-bottle-02\ 1.png");
}
.im {
  font-size: 40px;
  color: #222222;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.ima {
  font-size: 20px;
  margin-left: 50px;
}
.button-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 50px;
  height: 56px;
}
.but-one {
  width: 130px;
  height: 50px;
  background-color: #685a52;
  color: white;
  font-size: 20px;
}
.but-two {
  width: 130px;
  height: 50px;
  font-size: 20px;
}
.prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 115px;
  padding-right: 60px;
  font-size: 40px;
}
.wrapping {
  display: flex;
  flex-direction: row;
}
.image-two {
  width: 600px;
  height: 812px;
  margin-left: 20px;
  border: 1px solid #685a52;
  margin-top: 100px;
}
.image-second {
  width: 597px;
  height: 484px;
  background-image: url("./img/Group\ 5107.png");
}
.conteiner-fourth {
  max-width: 1200px;
  margin: 0 auto;
}
.fourth-block {
  margin: 0 auto;

  height: 270px;
  margin-top: 100px;
  background-color: #eeecec;
}
.title-fourth {
  width: 1440px;
}
.wrap-one {
  height: 270px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 70px;
}
.first-title {
  font-size: 50px;
}
.first,
.second,
.third {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid black;
}
.second-title {
  font-size: 50px;
}
.third-title {
  font-size: 50px;
}
.fifth-conteiner {
  max-width: 1200px;
}
.fifth-block {
  margin: 0 auto;
  width: 1500px;
  margin-top: 100px;
  margin-bottom: 10px;
  padding-left: 145px;
  padding-right: 145px;
}
.fifth-title {
  font-size: 56px;
}
.fifth-title-one {
  margin-top: 100px;
  font-size: 15px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
.button-fifth-one {
  background-color: #402f2c;
  color: white;
  width: 148px;
  height: 56px;
  margin-top: 100px;
}
.wrap-fifth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text-fifth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imag-fifth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("./img/Rectangle\ 8.png");
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
}
.six-block {
  width: 1240px;
  margin: 0 auto;
}

.imag-six {
  margin-top: 100px;
  width: 583px;
  height: 554px;
  background-image: url("./img/six-block.png");
}
.six-wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 10px;
}
.six-tittle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
}
.tittle-six-one {
  margin-top: 10px;
  font-size: 30px;
}
.star {
  font-size: small;
}
.six-img {
  width: 50px;
  height: 50px;
  background-image: url("./img/star.png");
  display: inline-block;
}
.six-img-one {
  margin-top: 10px;
}
.six-tittle-one {
  margin-top: 40px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
.six-tittle-two {
  font-size: 30px;
  margin-top: 100px;
}
.six-tittle-three {
  margin-top: 100px;
}
.seven-block {
  background-color: #dddddd;
  margin: 0 auto;
}
.seven-block-one {
  width: 1240px;
  height: 545px;
  margin-top: 100px;
  margin-left: 100px;
}
.seven-conteiner {
  max-width: 1400px;
  margin: 0 auto;
}
.seven-tittle-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.seven-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 50px;
  padding-top: 50px;
}
.button-seven {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  text-align: start;
  font-size: 20px;
  margin-left: 145px;
}
.button-seven-one {
  gap: 10px;
  width: 200px;
  height: 50px;
  background-color: #402f2c;
  color: white;
  font-size: 25px;
}
.seven {
  height: 40px;
  border-bottom: 2px solid #bfbdbd;
  width: 100%;
}
.seven-tittle-first-block {
  width: 326px;
  height: 216px;
  margin-left: 100px;
  margin-top: 50px;
}

.seven-tittle-one-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.seven-tittle-first-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.seven-tittle-first-text {
  font-size: 30px;
  margin-bottom: 15px;
  text-decoration: underline;
  font-style: oblique;
}
.seven-tittle-second-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
.second-tittle-second-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 96px;
  height: 216px;
  margin-top: 50px;
}
.seven-tittle-third-text,
.seven-tittle-seven-text {
  font-size: 20px;
}
.seven-tittle-fourth-text,
.seven-tittle-fifth-text,
.seven-tittle-six-text,
.seven-tittle-eight-text,
.seven-tittle-nine-text {
  font-size: 15px;
}
.seven-tittle-third-block {
  width: 183px;
  height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-top: 50px;
}
.seven-img-one,
.seven-img-two,
.seven-img-thre {
  margin-right: 40px;
}
